<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
		<title>SOV Mapping Tool</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/occupancy.js"></script> <!-- click handlers and http request, jquery -->
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>
