
use data_cleansing;
CREATE TABLE [occupancy](
	[occscheme] varchar(10),
	[occtype] varchar(10),
	[occ_desc] varchar(max),
	[occ_array] varchar(max),
	[occ_array_cleansed] varchar(max)	
) 

insert into occupancy (occscheme, occtype, occ_desc, occ_array, occ_array_cleansed) VALUES('ATC','4','Group Institutional Housing','Nursing homes, Residential care, Retirement centers, College dormitories, Stone Street Retirement,,El Campo Retirement,,Fairfield Retirement,','Nursing homes, Residential care, Retirement centers, College dormitories, Stone Street Retirement,El Campo Retirement,Fairfield Retirement,');


--   select 'insert into occupancy (occscheme, occtype, occ_desc, occ_array, occ_array_cleansed) VALUES('''+
--   occscheme +''','''+ occtype +''','''+ occ_desc +''','''+ occ_array +''','''+occ_array_cleansed+''')'
--   from [data_cleansing].[dbo].[rms_occ_codes_1]

  --update [data_cleansing].[dbo].[rms_occ_codes_1] set [occ_array_cleansed] = REPLACE([occ_array_cleansed], '''', '')

-- select* from raw_data where account_name = 'Hope Bay to Wyday'
-- select* from RMS_VULNERABILITY..huvoccus where o_classif = 'ATC' and O_CLASS = '31'

-- select* from RMS_VULNERABILITY..huvoccus where o_desc like '%auto%' and O_CLASSIF = 'ATC'

-- select* from [mapping_tbl].[occupancy]


-- insert into [mapping_tbl].[occupancy] ([account_name], [occ_desc], [occ_occscheme], [occ_occtype], [rms_occ_desc])
-- VALUES('Hope Bay to Wyday', 'Treatment Plants; Filter Plants', 'ATC', '31', 'Water')


-- select* from RMS_VULNERABILITY..huvoccus where o_classif = 'ATC' and O_CLASS = '23'

-- select distinct occ_desc, rms_occscheme, rms_occtype
-- from raw_data 
-- where rms_occscheme = 'ATC' and rms_occtype = '23'

-- --select distinct occ_desc, rms_occscheme, rms_occtype
-- --from raw_data 
-- --where occ_desc like '%water%'


-- select rms_occscheme, rms_occtype 
-- into raw_data_occ
-- from raw_data
-- group by rms_occscheme, rms_occtype 
-- order by rms_occscheme, rms_occtype

-- select distinct occ_desc, rms_occscheme, rms_occtype
-- from raw_data 
-- where rms_occscheme = 'SIC' and rms_occtype = '23'


-- select Max(LEN(rms_occscheme)), Max(LEN(rms_occtype))  from raw_data_occ





-- declare @results varchar(max); 
-- declare @rms_occscheme varchar(3);
-- declare @rms_occtype varchar(4); 

-- DECLARE occ_cursor CURSOR FOR   
-- select rms_occscheme, rms_occtype from [dbo].[raw_data_occ]
-- OPEN occ_cursor  

-- FETCH NEXT FROM occ_cursor   
-- INTO @rms_occscheme, @rms_occtype  

-- WHILE @@FETCH_STATUS = 0  
-- BEGIN  
-- 	select @results = coalesce(
-- 	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@results,'!',''),'@',''),'#',''),'$',''),'%',''),'^',''),'&',''),'*',''),'/',' ') 
-- 			+ ' ; ', '') +  convert(varchar(500), occ_desc)
-- 	from 
-- 	(select distinct occ_desc
-- 	from raw_data 
-- 	where rms_occscheme = @rms_occscheme and rms_occtype = @rms_occtype) a 
-- 	order by occ_desc

-- 	insert into [data_cleansing].[dbo].[raw_data_occ_desc]([rms_occscheme], [rms_occtype], [rms_desc])
-- 	select @rms_occscheme [rms_occscheme], @rms_occtype [rms_occtype], @results [description]

-- 	set @results = ''

-- 	FETCH NEXT FROM occ_cursor   
--     INTO @rms_occscheme, @rms_occtype  
-- END   
-- CLOSE occ_cursor;  
-- DEALLOCATE occ_cursor;  


-- --select distinct occ_desc, rms_occscheme, rms_occtype
-- --from raw_data 
-- --where rms_occsch

-- --select distinct occ_desc, rms_occscheme, rms_occtype
-- --from raw_data 
-- --where rms_occscheme = 'ATC' and rms_occtype = '22'

-- select rms_occscheme, rms_occtype, '"'+rms_desc+'"' from [data_cleansing].[dbo].[raw_data_occ_desc]

-- select 10000/7/2

-- select 4939.45+2118.53


-- select rms_occscheme, rms_occtype, rms_desc from [data_cleansing].[dbo].[raw_data_occ_desc]

-- /****** Script for SelectTopNRows command from SSMS  ******/
-- SELECT distinct [atc_occ]
--       ,[occ_desc]
--       ,[occ_categories]
-- into rms_atc_occ_codes
-- FROM [data_cleansing].[dbo].[rms_atc_occ]
-- order by atc_occ asc 

-- drop table [data_cleansing].[dbo].[rms_atc_occ]

-- update [rms_atc_occ] set occ_categories = replace(occ_categories,'''','')
-- FROM [data_cleansing].[dbo].[rms_atc_occ]

-- select* from [data_cleansing].[dbo].[rms_occ_codes_array]


-- select* from [data_cleansing].[dbo].[raw_data_occ_desc] where rms_desc is not null and rms_occtype is not null 

-- /****** Script for SelectTopNRows command from SSMS  ******/
-- --SELECT TOP (1000) [atc_occ]
-- --      ,[occ_desc]
-- --      ,[occ_categories]
-- --  FROM [data_cleansing].[dbo].[rms_atc_occ_codes]
-- --  where [atc_occ] <> 0 


-- declare @atc_occ int; 
-- declare @acc_desc varchar(500); 
-- declare @occ_categories varchar(max)

-- DECLARE db_cursor CURSOR FOR 
-- SELECT distinct atc_occ 
-- FROM [data_cleansing].[dbo].[rms_atc_occ_codes]
-- where [atc_occ] <> 0 

-- OPEN db_cursor  
-- FETCH NEXT FROM db_cursor INTO @atc_occ  

-- WHILE @@FETCH_STATUS = 0  
-- BEGIN  

-- 		select @acc_desc = 
-- 		(select distinct occ_desc FROM [data_cleansing].[dbo].[rms_atc_occ_codes] where atc_occ = @atc_occ) 

-- 		select @occ_categories = 
-- 		(SELECT occ_categories  + ', '
-- 		FROM [data_cleansing].[dbo].[rms_atc_occ_codes]
-- 		where atc_occ = @atc_occ 
-- 		ORDER BY LEN(occ_categories)
-- 		FOR XML PATH(''))

-- 		insert into rms_occ_codes_array(occscheme, occtype, occ_desc, occ_categories)
-- 		select 'ATC', @atc_occ, @acc_desc, @occ_categories

-- 		FETCH NEXT FROM db_cursor INTO @atc_occ 
-- END 

-- CLOSE db_cursor  
-- DEALLOCATE db_cursor 

-- select* from rms_occ_codes_array

-- create table rms_occ_codes_array(occscheme varchar(3), occtype varchar(3), occ_desc varchar(100), occ_categories varchar(max))